*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
section{
    padding: 40px 15%;
}
.contact{
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}
.contact-form h1{
    font-size: 80px;
    color: black;
    margin-bottom: 20px;
}
span{
    color: #f9004d;
}
.contact-form p{
    color: #f9004d;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 20px;
    margin-bottom: 3.8rem;
}
.contact-form{
    position: fixed;
    top: 5%;
    left: 60%;
    right: 2%;
}
.contact-form form input,
form textarea{
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}
.contact-form form .btn{
    display: inline-block;
    background: #f9004d;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}
.contact-form form .btn:hover{
    border: 2px solid #f9004d;
    background: transparent;
    transform: scale(1.1);
    color: black;
}

